:root {
    --global-text-font: normal normal 400 16px/1.25 'Jost', sans-serif;
    --button-font: normal normal 500 1rem/1.25 'Jost', sans-serif;
    --description-font: normal normal 500 1.125rem/1.33 'Jost', sans-serif;
    /* --banner-text-font: normal normal 700 3rem/1.04 'Jost', sans-serif;
    --main-heading-font: normal normal 700 2.25rem/1.17 'Jost', sans-serif;
    --heading-font: normal normal 500 1.5rem/1.33 'Jost', sans-serif;
    --subtitle-font: normal normal 500 1.5rem/1.33 'Work Sans', sans-serif;
    --headline-font: normal normal 500 0.875rem/1.43 'Jost', sans-serif;
    --body-font: normal normal 400 0.875rem/1.43 'Jost', sans-serif; */

    --primary-color: #f6623e;
    --secondary-color: #454545;
    --light-gray-color: #9d9d9d;
    --light-color: #ffffff;
    --lightest-gray-color: #E8E8E8;
    --dark-color: #000000;
    --flesh-color: #FFF8F6;

    --transition-duration: 0.2s;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font: var(--global-text-font);
}

a {
    text-decoration: none;
    color: var(--dark-color) inherit;
}

a,
button {
    transition-duration: var(--transition-duration);
}

.container {
    max-width: 1920px;
    margin-inline: auto;
}

.button {
    /* width: 140px;
    height: 47px; */
    padding-inline: 25px;
    padding-block: 14px;

    border: 0;

    font: var(--button-font);
    text-transform: uppercase;
    color: var(--light-color);
    background-color: var(--primary-color);

    transition-duration: var(--transition-duration);
}

a.button {
    display: inline-block;
}

.button:hover {
    background-color: #b4492e;
}

.transparent {
    line-height: 1.56;
    padding-inline: 48px;
    padding-block: 15px;

    border: 2px solid var(--primary-color);

    color: var(--dark-color);
    background-color: transparent;
}

.button.transparent:hover {
    background-color: var(--light-gray-color);
    color: var(--light-color);
}

.headline {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 24px;
}

.products-list {
    display: flex;
    justify-content: center;
    column-gap: clamp(5px, 1.61vw, 31px);
    padding-inline: clamp(20px, 6.25vw, 120px);
}

.products-image {
    width: 410px;
    height: auto;
    max-height: 400px;
}

.products-image.small-image {
    padding-inline: 42px;
    padding-block: 45px;
    background-color: #F4F3F4;
    border: 1px solid #E8E8E8;
}

.products-image:not(:last-child) {
    margin-bottom: 22px;
}

.products-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7px;
    font-size: 0.875rem;
}

.products-name {
    font-weight: 500;
    line-height: 1;
}

.products-price {
    display: flex;
    column-gap: 21px;
}

.products-price-current {
    color: var(--primary-color);
}

.products-price-outdated {
    color: var(--light-gray-color);
    text-decoration: line-through;
}

/*  */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;

    padding-inline: clamp(50px, 6.25vw, 120px);

    background-color: var(--primary-color);
    color: var(--light-color);
}

.header-top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top-authorization {
    padding-right: 20px;
    border-right: 1px solid rgba(255,255,255,0.3);
    margin-right: 23px;
    white-space: nowrap;
}

:is(.header-sign-in, .header-sign-up):hover  {
    color: #e4e0e0;
}

.header-currency-selector {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 7px;

    border: none;
    background-color: transparent;
    color: var(--light-color);
}

.header-currency-selector::after {
    flex-shrink: 0;
    content: '';
    width: 8px;
    height: 4px;
    display: inline-block;
    margin-left: -4px;

    background: url('../icons/down-rectangle-icon.svg') center/contain no-repeat;
}

.header-currency-selector:hover {
    filter: invert(0.1);
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    padding-inline: 110px 130px;
    row-gap: 15px;
}

.header-logo {
    height: auto;
    flex-shrink: 0;
    padding-right: 30px;
}

.header-menu {
    width: 100%;
    max-width: 766px;
}

.header-menu-list {
    display: flex;
    justify-content: space-between;

}

.header-menu-item.is-selected {
    color: var(--primary-color);
}

.header-menu-item:not(.is-selected):hover {
    color: var(--light-gray-color);
}

.header-body-actions {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 50px;
}

.header-body-actions :hover  {
    filter: invert(0.3);
}

.header-body-search {
    flex-shrink: 0;
}

.header-body-cart {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
}

.header-body-cart::after {
    content: '0';
    position: absolute;
    right: 0;
    top: 0;

    font-size: 0.625em;
    line-height: 0.75;
    color: var(--light-color);

    padding: 0.25em;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.main:not(:last-child) {
    margin-bottom: 121px;
}

.main-flagship {
    position: relative;
    background: url('../images/flagship-slider-image.jpg') bottom center no-repeat,
                url('../images/flagship-image.jpg') top center no-repeat;
                
    height: 671px;
   
}

.main-flagship-inner {
    position: absolute;
    right: 20.3%;
    top: 150px;

}

.main-flagship-brand {
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--primary-color);
}

.main-flagship-brand:not(:last-child) {
    margin-bottom: 4px;
}

.main-flagship-name {
    font-size: 3.5rem;
    font-weight: 600;
}

.main-flagship-name:not(:last-child) {
    margin-bottom: 11px;
}

.main-flagship-description {
    line-height: 1.81;
    max-width: 530px;
}

.main-flagship-description:not(:last-child) {
    margin-bottom: 40px;
}

.main-deal {
    padding-block: 66px 139px;
}

.main-deal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 37px;
}

.main-deal-headline {
    position: relative;
}

.main-deal-headline::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% -100%;


    width: 127px;
    height: 4px;
    background-color: var(--primary-color);
}

.main-deal-headline:not(:last-child) {
    margin-bottom: 25px;
}

.main-deal-description {
    color: var(--secondary-color);
    font: var(--description-font);

    text-align: center;
    max-width: 760px;
    padding-inline: 60px;
}

.main-deal-products:not(:last-child) {
    margin-bottom: 138px;
}

.main-deal-products-description {
    color: var(--dark-color);
    font: var(--description-font);
    text-align: center;
}

.main-deal-advantages-list {
    display: flex;
    justify-content: center;
    column-gap: clamp(60px, 10.9vw, 210px);
    padding-inline: 60px;
}

.main-deal-advantages-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 284px;
    text-align: center;
}

.main-deal-advantages-image {
    position: relative;
    padding: 3px;
}

.main-deal-advantages-image::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;

    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
    
    z-index: -1;

    background-color: var(--primary-color);
}

.main-deal-advantages-image:not(:last-child) {
    margin-bottom: 22px;
}

.main-deal-advantages-name:not(:last-child) {
    margin-bottom: 11px;
}

.main-benefit {
    display: flex;
    padding-right: 20px;

}

.main-benefit-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding-block: 50px;
    padding-inline: clamp(50px, 10.4vw, 200px) clamp(50px, 15.15vw, 291px);

    background-color: var(--flesh-color);
}

.main-benefit-headline {
    font-size: 3.125rem;
    line-height: 1.44;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.main-benefit-headline:not(:last-child) {
    margin-bottom: 17px;
}

.main-benefit-description {
    max-width: 500px;
    color: var(--secondary-color);
    line-height: 1.56;
}

.main-benefit-description:not(:last-child) {
    margin-bottom: 34px;
}

.main-benefit-description :not(:last-child) {
    margin-bottom: 12px;
}

.main-benefit-button {
    padding-inline: 45px;
    padding-block: 18px 13px;
}

.main-benefit-collage {
    display: grid;
    grid-template-columns: auto auto;

    row-gap: clamp(5px, 1.45vw, 28px);
    column-gap: clamp(6px, 1.5vw, 30px);

    margin-left: -122px;
    height: 100%;
}

.main-benefit-image {
    height: 100%;
}

.main-benefit-image:nth-of-type(2) {
    order: 1;
}

.main-benefit-image:nth-of-type(3) {
    grid-row: 2 span;
}

.main-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 136px;
    padding-bottom: 85px;
}

.main-products-headline:not(:last-child) {
    margin-bottom: 58px;
}

.main-products-list:not(:last-child) {
    margin-bottom: 60px;
}

.main-review {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 106px;;

    padding-inline: 50px;
    padding-block: 176px;

    background: url('../images/header-background-review-image.jpg') no-repeat top center,
                url('../images/footer-background-review-image.png') no-repeat bottom center;
    background-color: #FEF0E7;
}

.main-review-body {
    display: flex;
    flex-direction: column;
    max-width: 620px;
}

.main-review-headline, .main-review-name {
    letter-spacing: 0.25rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
}

.main-review-headline {
    font-size: 1.25rem;
}

.main-review-headline:not(:last-child) {
    margin-bottom: 46px;
}

.main-review-name {
    font-size: 1.875rem;
    color: var(--primary-color);
}

:is(.main-review-name, .main-review-rating, .main-review-author) {
    margin-bottom: 24px;
}

.main-review-content {
    color: var(--secondary-color);
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: 1px;
}

.main-review-content:not(:last-child) {
    margin-bottom: 24px;
}

.main-review-photo {
    height: auto;
}

.main-review-author {
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}

.main-review-author:not(:last-child) {
    margin-bottom: 32px;
}

.main-review-slider-actions {
    display: flex;
    column-gap: 20px;
}

.main-review-slider-button {
    border: none;
    background-color: transparent;
    height: 50%;
}

.main-review-slider-button * {
    transition-duration: var(--transition-duration);
}

.main-review-slider-button:hover * {
    fill: var(--secondary-color);
    background-color: var(--light-gray-color);
}

.main-shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-shop:not(:last-child) {
    margin-bottom: 118px;
}

.main-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-news:not(:last-child) {
    margin-bottom: 120px;
}

.main-news-headline:not(:last-child) {
    margin-bottom: 47px;
}

.main-news-list {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    padding-inline: 20px;
}

.main-news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 411px;
}

.main-news-image {
    height: auto;
}

.main-news-image:not(:last-child) {
    margin-bottom: 20px;
}

.main-news-datetime {
    color: var(--primary-color);
    font-size: 0.75rem;
    font-weight: 500;
}

.main-news-name {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 2;
}

.main-news-description {
    color: var(--light-gray-color);
    line-height: 1.875;

    max-width: 389px;
}

.main-news-description:not(:last-child) {
    margin-bottom: 21px;
}

.main-news-link {
    padding: 12px 24px;
}

.main-shop-headline:not(:last-child) {
    margin-bottom: 51px;
}

.main-shop-list:not(:last-child) {
    margin-bottom: 50px;
}

.main-shop-image {
    height: auto;
}

:is(.main-shop-item:nth-of-type(1), .main-shop-item:nth-of-type(2)) .main-shop-image {
    padding: 32px 28px;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-gallery-list {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    max-height: 318px;
    padding: 20px;
    column-gap: 30px;
    scroll-snap-type: x mandatory;
}

.main-gallery-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
}

.main-gallery-image {
    max-width: 100%;
    height: auto;
}

.footer {
    background: var(--flesh-color) url('../images/footer-top-background-image.png') no-repeat top center;
    padding-top: 129px;
    padding-inline: clamp(50px, 6.4vw, 123px);
}

.footer-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    padding-top: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(82,81,81,0.2);

    text-align: center;
    color: var(--secondary-color);
    line-height: 1.625;
}

.footer-body-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    max-width: 326px;
    padding-right: 30px;
}

.footer-body-mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.footer-body-mailing-headline, .footer-body-info-headline {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 1;
}

:is(.footer-body-mailing-headline, .footer-body-info-headline):not(:last-child) {
    margin-bottom: 12px;
}

.footer-body-mailing-description {
    max-width: 350px;
}

.footer-body-mailing-description:not(:last-child) {
    margin-bottom: 32px;
}

.footer-body-mailing-form {
    display: flex;
    justify-content: space-between;
    width: 29.69vw;
    border-bottom: 2px solid var(--dark-color);
    padding-bottom: 8px;
}

.footer-body-mailing-input {
    background-color: transparent;
    border: none;
    width: 100%;
}

.footer-body-mailing-input::placeholder {
    color: var(--dark-color);
}

.footer-body-mailing-input:focus {
    color: var(--primary-color);
    outline: none;
}

.footer-body-mailing-button {
    background-color: transparent;
    border: none;

    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

.footer-body-mailing-button:hover {
    filter: invert(0.15);
}

.footer-body-info {
    justify-self: end;
    text-align: left;
    padding-right: 39px;
}

.footer-body-info-headline {
    font-size: 1.25rem;
    padding-left: 3px;
}

.footer-body-info-list {
    line-height: 2.06;
}

.footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    padding-block: 27px;
}

.footer-bottom-copyright {
    justify-self: center;
}

.footer-bottom-copyright-link {
    color: var(--primary-color);
}

.footer-bottom-payment {
    justify-self: end;
}

@media (max-width: 1024px) {
    .products-list {
        flex-wrap: wrap;
        align-items: center;
        row-gap: 30px;
    }

    .header-top {
        height: 75px;
        padding-inline: 40px;
    }

    .header-top-authorization {
        padding-right: 11px;
        margin-right: 11px;
    }

    .header-body {
        flex-wrap: wrap;
        padding-block: 30px 125px;
        padding-inline: 80px 80px;
    }

    .header-menu {
        max-width: 1024px;
    }

    .header-menu {
        order: 1;
    }

    .main-flagship {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: bottom left, top left;
    }

    .main-flagship-inner {
        right: unset;
        padding-inline: 20px;
    }

    .main-deal-advantages-list {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    .main-benefit {
        flex-direction: column;
        /* align-items: center; */
        padding: 0;
    }

    .main-benefit-body {
        padding-bottom: 200px;
    }

    .main-benefit-headline {
        text-wrap: wrap;
    }

    .main-benefit-collage {
        align-self: center;
        justify-self: center;
        margin: -123px 0 0 0;
        padding-inline: 10px;
    }

    .main-review {
        flex-direction: column;
        row-gap: 30px;
    }

    .main-news-list {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    
}

@media (max-width: 767px) {
    .header-top {
        height: 120px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: end;
    }

    .header-top-description {
        align-self: start;
        order: 1;
    }

    .header-body {
        padding-inline: 30px;
    }

    .header-logo, .header-body-actions {
        margin-inline: 0;
    }

    .header-menu-list {
        flex-wrap: wrap;
    }

    .header-menu-item {
        padding-inline: 10px;
    }

    .footer-body {
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        justify-items: center;
        row-gap: 50px;
    }

    .footer-body-info {
        padding: 0;
    }

    .footer-body-mailing {
        order: 1;
        grid-column: span 2;
    }

    .footer-body-mailing-form {
        width: 100%;
    }

    .footer-body-info {
        justify-self: center;
    }

    .footer-bottom {
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: center;
        justify-items: center;
    }

    .footer-bottom-copyright {
        order: 1;
    }
}